node_modules
dist
.DS_Store
*.local
.vite
.claude
# Docker
.env
# Neutralino
.tmp/
.vitest-attachments/
**/__screenshots__/*
bin/
*.log
.storage/
auth_storage/
www
neutralino.js
package-lock.json
# Direnv
.envrc
# vim
.lazy.lua
# Q-DL Files
qobuz-api
Qobuz-DL
# Agentic docs:
agent_docs